.logo { 
display: flex;
justify-content: left;
flex-direction: row;

}




body{
  font-family: 'Montserrat', sans-serif;
  background-color:#F4AFAB;
  text-align: center;
  color: black;
}

h1{
  text-align: center;
  margin-bottom: 30px;
  padding-left:15px;
  display: inline;
}




article{
  padding-left: 15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left: 5%;
  margin-right: 5%;
  
  color: white;
  border-radius:10px;
}

.logo{
  display: flex;
  justify-content: flex-start;
  height: 75px;
  width: 175px;
  background-color: white;
  padding-top:2.5px;
  padding-left:2.5px;
  padding-right:2.5px;
  padding-bottom:15px;
  margin: 5px;
  display: inline;
}

a{
  color: white;
  text-decoration: none;
  font-size:85%;
}




.header {
  display:inline;
  display: flex;
  
}



.subheading{
  display: block;
}




body {
  animation: colorchange 6s infinite; 
}

@keyframes colorchange
{
  0%   {background: #d0dfc8;}
  25%  {background: #9bbb8a;}
  50% {background: #68986c;}
  75% {background: #9bbb8a;}
  100% {background: #d0dfc8;}
}





button:hover {
  background-color: #EFCB68;
 
}